// FONT VARIABLES
$font-primary: 'Lemonada', sans-serif;
$font-regular: 'Roboto', sans-serif;

// COLOR VARIABLES
$cream: #ebe1b0;
$ebony: #0a0708;
$maroon: #73260a;
$tiger-lily: #c25000;
$color-black: #000;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-regular;
    font-weight: 300;
    line-height: 1.6;

    //background-color: #0a0708;
    background-color: $color-black;
    color: $cream;
}