.cocktail {
    grid-column: 1 / span 6;
    padding: 3rem;

    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    justify-items: center;

    &__title {
        grid-column: 1 / 2;
        margin-bottom: 1rem;
        background-image: linear-gradient(to right bottom, $cream, $tiger-lily, $maroon);
        background-clip: text;
        color: transparent;

        &--inactive {
            background-image: none;
            color: grey;
        }
    }

    &__img {
        width: 32rem;
        border-radius: 4px;
        background-color: grey;
    }

    &__instructions {
        font-size: 1.4rem;
    }

    &__ingredients {
        grid-row: 1 / -1;
        grid-column: 2 / -1;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        justify-items: center;
    }

    &__clear {
        font-family: $font-primary;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: $color-black;
        padding: .75rem;
        background-image: linear-gradient(to right bottom, $cream, $tiger-lily, $maroon);
        border-radius: 2px;
        cursor: pointer;
        opacity: .9;
        transition: all .3s ease;

        &:hover {
            opacity: 1;
            box-shadow: 0 .2rem .5rem rgba($maroon, .6);
        }
    }
}