.footer {
    background-color: $ebony;
    padding: 1.3rem;

    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        font-size: 1.25rem;
        font-family: $font-primary;
        color: $tiger-lily;
    }
}