.ingredient {
    

    &__img {
        width: 100%;
        transition: all .3s ease;

        &:hover {
            transform: scale(1.4);
        }
    }   

    &__text {
        text-align: center;
    }       
}