.search {
    grid-column: 7 / -1;
    overflow-y: scroll;

    display: grid;
    grid-template-rows: 15rem;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
    justify-items: center;
    align-items: center;

    @media only screen and (max-width: $bp-medium),
           only screen and (min-width: 1024px) and (hover: none) and (orientation: portrait) {
        grid-column: 2 / span 10;
    }

    @media only screen and (max-width: $bp-small) {

        grid-template-columns: 60% 1fr;
    }

    &__select {
        width: 75%;
        font-size: 1.6rem;

        @media only screen and (max-width: $bp-small) {
            width: 100%;
        }
    }

    &__img {
        justify-self: start;
        width: 15rem;
        grid-column: 2 / -1;
        transition: transform .3s ease;

        &:hover {
            transform: scale(1.4);
            transform-origin: top;
        }
    }
}