*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: #000;
  color: #ebe1b0; }

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr 6rem;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3rem; }

.header {
  background-image: linear-gradient(to right bottom, #c25000, #73260a, #0a0708);
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .header__heading {
    text-transform: uppercase;
    color: #0a0708; }
  .header__random {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    cursor: pointer;
    color: #c25000;
    padding: 1rem;
    border: 1px solid #c25000;
    border-radius: 3px;
    background-color: #000;
    position: relative;
    overflow: hidden; }
    .header__random > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all .4s ease; }
    .header__random:hover {
      background-image: linear-gradient(to right bottom, #c25000, #73260a);
      color: #000;
      border: 1px solid #73260a; }
    .header__random--invisible {
      position: absolute;
      left: 0;
      top: -100%;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: .15rem; }
    .header__random:hover .header__random--visible {
      transform: translateY(150%); }
    .header__random:hover .header__random--invisible {
      top: 0; }

.footer {
  background-color: #0a0708;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__text {
    font-size: 1.35rem;
    font-family: "Lemonada", sans-serif;
    color: #c25000; }

.cocktail {
  grid-column: 1 / span 6;
  padding: 3rem;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  justify-items: center; }
  .cocktail__title {
    grid-column: 1 / 2;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right bottom, #ebe1b0, #c25000, #73260a);
    background-clip: text;
    color: transparent; }
    .cocktail__title--inactive {
      background-image: none;
      color: grey; }
  .cocktail__img {
    width: 32rem;
    border-radius: 4px;
    background-color: grey; }
  .cocktail__instructions {
    font-size: 1.4rem; }
  .cocktail__ingredients {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-items: center; }
  .cocktail__clear {
    font-family: "Lemonada", sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #000;
    padding: .75rem;
    background-image: linear-gradient(to right bottom, #ebe1b0, #c25000, #73260a);
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    transition: all .3s ease; }
    .cocktail__clear:hover {
      opacity: 1;
      box-shadow: 0 0.2rem 0.5rem rgba(115, 38, 10, 0.6); }

.search {
  grid-column: 7 / -1;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 15rem;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
  justify-items: center;
  align-items: center; }
  .search__select {
    width: 75%;
    font-size: 1.6rem; }
  .search__img {
    justify-self: start;
    width: 15rem;
    grid-column: 2 / -1;
    transition: transform .3s ease; }
    .search__img:hover {
      transform: scale(1.4);
      transform-origin: top; }

.heading-1 {
  font-family: "Lemonada", sans-serif;
  font-size: 3.2rem; }

.heading-2 {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: .1rem; }

.ingredient__img {
  width: 100%;
  transition: all .3s ease; }
  .ingredient__img:hover {
    transform: scale(1.4); }

.ingredient__text {
  text-align: center; }

.list {
  grid-column: 1 / 3;
  align-self: start;
  justify-self: start;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem; }
  .list__thumb {
    background-image: linear-gradient(to right bottom, #ebe1b0, #c25000, #73260a);
    padding: .75rem;
    border-radius: 3px;
    cursor: pointer;
    opacity: .9;
    transition: all .3s ease; }
    .list__thumb:hover {
      opacity: 1;
      box-shadow: 0 0.5rem 1rem rgba(115, 38, 10, 0.6); }
  .list__img {
    width: 100%;
    border-radius: 3px; }
  .list__text {
    font-family: "Lemonada", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    text-align: center; }
